<div class="navbar">
  <ng-container *ngIf="isMobileView">
    Todo :c
  </ng-container>
  <ng-container *ngIf="!isMobileView">
    <ng-container *ngFor="let item of menuList; let i = index">
      <div class="single-item" [ngClass]="[item.isActive ? 'single-item-active' : 'single-item-not-active']"
      (click)="navigateTo(item.url, item.hasDropdown, $event, i, item.animationIndex)">
        {{item.name}}
        <ng-container *ngIf="item.hasDropdown">
          <em class="material-icons">arrow_drop_down</em>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="!isMobileView">
<!-- 
    START STUFF FOR DYNAMIC DOPDOWN
-->
  <div class="dropdown" [ngStyle]="{'left.px': dropdownNavbarOffsetLeft1}" [@sio1]="animation1">
  <ng-container *ngFor="let item of raidBuildDropwon">
    <div class="single-item-dropdown" (click)="dropdownNavigateTo(item)">
      <img class="icon-item" [src]="item.iconUrl" [alt]="item.name" [title]="item.name">
      {{item.name}} 
    </div>
  </ng-container>
  </div>
  <div class="dropdown" [ngStyle]="{'left.px': dropdownNavbarOffsetLeft2}" [@sio2]="animation2">
    <ng-container *ngFor="let item of classGuidesDropdown">
      <div class="single-item-dropdown" (click)="dropdownNavigateTo(item)">
        <img class="icon-item" [src]="item.iconUrl" [alt]="item.name" [title]="item.name">
        {{item.name}} 
      </div>
    </ng-container>
  </div>
  <div class="dropdown" [ngStyle]="{'left.px': dropdownNavbarOffsetLeft3}" [@sio3]="animation3">
    <ng-container *ngFor="let item of fractalsDropdown">
      <div class="single-item-dropdown" (click)="dropdownNavigateTo(item)">
        {{item.name}} 
      </div>
    </ng-container>
  </div>
  <div class="dropdown" [ngStyle]="{'left.px': dropdownNavbarOffsetLeft4}" [@sio4]="animation4">
    <ng-container *ngFor="let item of communityDropdown">
      <div class="single-item-dropdown" [ngClass]="[!!item?.hasBorderBottom ? 'single-item-border-bottom' : '' ]" (click)="dropdownNavigateTo(item)">
        {{item.name}} 
      </div>
    </ng-container>
  </div>
<!--
    END STUFF FOR DYNAMIC DROPDOWN
-->
</ng-container>


