<div class="navbar">
  <ng-container *ngIf="isMobileview">
    Todo :c
  </ng-container>
  <ng-container *ngIf="!isMobileview">
    <ng-container *ngFor="let item of menuList; let i = index">
      <div class="single-item" [ngClass]="[item.isActive ? 'single-item-active' : 'single-item-not-active']" (click)="navigateTo(item.url, item.hasDropdown, $event, item.dropdownType, i)">
        {{item.name}}
        <ng-container *ngIf="item.hasDropdown">
          <em class="material-icons">arrow_drop_down</em>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- 
    START STUFF FOR DYNAMIC DOPDOWN
-->
<div class="dropdown" *ngIf="showDropdown" [ngStyle]="{'left.px': dropdownNavbarOffsetLeft}" [@slideInOut]="animationNavbarDropdown">
    Ciao mamma
  </div>
  <!--
      END STUFF FOR DYNAMIC DROPDOWN
  -->