<div class="top-bar">
  <img class="sc-small-logo" src="../assets/logo-compact.png" alt="Snow Crows logo">  
  Snow Crows
</div>
<div class="navbar">
  <ng-container *ngIf="isMobileview">

  </ng-container>
  <ng-container *ngIf="!isMobileview">
    <div class="single-item">
      Benchmarks
    </div>
    <div class="single-item">
      Raid builds
      <i class="material-icons">arrow_drop_down</i>
    </div>
    <div class="single-item">
      Class guides
      <i class="material-icons">arrow_drop_down</i>
    </div>
    <div class="single-item">
      Fractals
      <i class="material-icons">arrow_drop_down</i>
    </div>
    <div class="single-item">
      Community
      <i class="material-icons">arrow_drop_down</i>
    </div>
    <div class="single-item">
      About
    </div>
    <div class="single-item">
      Recruitment
    </div>

      
  </ng-container>
</div>
<div class="content">

</div>