<ng-container *ngIf="isMobileView">
  Todo :c
</ng-container>
<ng-container *ngIf="!isMobileView">
  <div class="footer-web">
    <div class="cards">
      <div class="card-title">
        Leaders
      </div>
      <div class="card-list">
        <div class="card" (click)="openCardDetail(0, $event)">
          <div class="rounded-icon">
            <img class="rounded-img" alt="Axias" title="Axias" [src]="photoUrl1">
          </div>
          <div class="card-name">
            Axias
          </div>
        </div>
        <div class="card" (click)="openCardDetail(1, $event)">
          <div class="rounded-icon">
            <img class="rounded-img" alt="Target" title="Target" [src]="photoUrl2">
          </div>
          <div class="card-name">
            Target
          </div>
        </div>
        <div class="card" (click)="openCardDetail(2, $event)">
          <div class="rounded-icon">
            <img class="rounded-img" alt="Yui" title="Yui" [src]="photoUrl3">
          </div>
          <div class="card-name">
            Yui
          </div>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card-title">
        Officiers
      </div>
      <div class="card-list">
        <div class="card" (click)="openCardDetail(3, $event)">
          <div class="rounded-icon">
            <img class="rounded-img" alt="Derpy" title="Derpy" [src]="photoUrl4">
          </div>
          <div class="card-name">
            Derpy
          </div>
        </div>
        <div class="card" (click)="openCardDetail(4, $event)">
          <div class="rounded-icon">
            <img class="rounded-img" alt="Fallen" title="Fallen" [src]="photoUrl4">
          </div>
          <div class="card-name">
            Fallen
          </div>
        </div>
        <div class="card" (click)="openCardDetail(5, $event)">
          <div class="rounded-icon">
            <img class="rounded-img" alt="Kiwi" title="Kiwi" [src]="photoUrl5">
          </div>
          <div class="card-name">
            Kiwi
          </div>
        </div>
        <div class="card" (click)="openCardDetail(6, $event)">
          <div class="rounded-icon">
            <img class="rounded-img" alt="Muju" title="Muju" [src]="photoUrl6">
          </div>
          <div class="card-name">
            Muju
          </div>
        </div>
      </div>
    </div>
    <div class="spacer">
      <div class="white-hr"></div>
    </div>
    <div class="ad-info">
        <p>
          We chose to be ad free so you guys can enjoy the site without annoying pop-ups, but this means we have to cover the server costs ourselves.
        </p>

        With the amount of daily viewers we have, this gets expensive! Hit the donate button below or elect to be a patreon to help us out with maintaining the server.
    </div>
    <div class="spacer">
      <div class="white-hr"></div>
    </div>
    <div class="sponsor">
      <div class="sponsor-image-patreon" (click)="openLink('https://www.patreon.com/snowcrows/posts')"></div>
      <div class="sponsor-image-paypal" (click)="openLink('https://www.paypal.me/snowcrowsgaming')"></div>
      <div class="sponsor-image-pof" (click)="openLink('https://send.onenetworkdirect.net/z/617197/CD242393/')"></div>
    </div>
    <div class="spacer">
      <div class="white-hr"></div>
    </div>
    <div class="last-info">
      <div class="info">
        If you're interested in helping out with this project, no matter how small (or big), please contact us on discord.
      </div>
      <div class="thanks">
        Made with <div class="heart">♥</div> by
        <div class="card card-footer" (click)="openCardDetail(7, $event)">
          <div class="rounded-icon">
            <img class="rounded-img" alt="Jeko" title="Jeko" [src]="photoUrl8">
          </div>
          <div class="card-name">
              Jeko
          </div>
        </div>
          Maintained by Target.
      </div>
    </div>
  </div>
  <!--
    START DINAMIC CONTENT
  -->
  <div class="modal-3" [ngStyle]="{'left.px': modalOffsetLeft1, 'top.px': modalOffsetTop1, 'background-image': 'url(' + blurUrl1 + ')'}" [@sio1]="animation1">
    <div class="modal-image">
      <img alt="Axias" title="Axias" [src]="photoUrl1" class="modal-rounded-image">
    </div>
    <div class="modal-title-name">
      Axias
    </div>
    <div class="modal-links">
      <div class="single-link">
        <div class="small-icon">
            <img alt="User" title="User" [src]="photoUser" class="small-icon">
        </div>
        <div class="desc selectable">
          OrionXnAsh.3064
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Youtube" title="Youtube" [src]="photoYoutube" class="small-icon">
        </div>
        <div class="desc">
          <span class="link" (click)="openLink('https://www.youtube.com/channel/UCFV8QdSe_vVNM0HoTv7GFRg')">Axias SC</span>
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Discord" title="Discord" [src]="photoDiscord" class="small-icon">
        </div>
        <div class="desc selectable">
          Axias#6125
        </div>
      </div>
    </div>
  </div>
  <div class="modal-3" [ngStyle]="{'left.px': modalOffsetLeft2, 'top.px': modalOffsetTop2, 'background-image': 'url(' + blurUrl2 + ')'}" [@sio2]="animation2">
    <div class="modal-image">
      <img alt="Target" title="Target" [src]="photoUrl2" class="modal-rounded-image">
    </div>
    <div class="modal-title-name">
        Target
    </div>
    <div class="modal-links">
      <div class="single-link">
        <div class="small-icon">
          <img alt="User" title="User" [src]="photoUser" class="small-icon">
        </div>
        <div class="desc selectable">
          Target.6379
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
          <img alt="Youtube" title="Youtube" [src]="photoYoutube" class="small-icon">
        </div>
        <div class="desc">
          <span class="link" (click)="openLink('https://www.youtube.com/channel/UCe77eVwJChtMyj7Cif6i3NQ')">Target SC</span>
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
          <img alt="Discord" title="Discord" [src]="photoDiscord" class="small-icon">
        </div>
        <div class="desc selectable">
          Target#6729
        </div>
      </div>
    </div>
  </div>
  <div class="modal-4" [ngStyle]="{'left.px': modalOffsetLeft3, 'top.px': modalOffsetTop3, 'background-image': 'url(' + blurUrl3 + ')'}" [@sio3]="animation3">
    <div class="modal-image">
      <img alt="Yui" title="Yui" [src]="photoUrl3" class="modal-rounded-image">
    </div>
    <div class="modal-title-name">
        Yui
    </div>
    <div class="modal-links">
      <div class="single-link">
        <div class="small-icon">
          <img alt="User" title="User" [src]="photoUser" class="small-icon">
        </div>
        <div class="desc selectable">
          BlackDragon.3752
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
          <img alt="Youtube" title="Youtube" [src]="photoYoutube" class="small-icon">
        </div>
        <div class="desc">
          <span class="link" (click)="openLink('https://www.youtube.com/channel/UCkL5cQMAI2qXa9kyMyGmGhA')">Kirasia</span>
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
          <img alt="Discord" title="Discord" [src]="photoDiscord" class="small-icon">
        </div>
        <div class="desc selectable">
          Yui#2228
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
          <img alt="Twitch" title="Twitch" [src]="photoTwitch" class="small-icon">
        </div>
        <div class="desc selectable">
            <span class="link" (click)="openLink('https://www.twitch.tv/kirasia')">Kirasia</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-4" [ngStyle]="{'left.px': modalOffsetLeft4, 'top.px': modalOffsetTop4, 'background-image': 'url(' + blurUrl4 + ')'}" [@sio4]="animation4">
    <div class="modal-image">
      <img alt="Derpy" title="Derpy" [src]="photoUrl4" class="modal-rounded-image">
    </div>
    <div class="modal-title-name">
        Derpy
    </div>
    <div class="modal-links">
      <div class="single-link">
        <div class="small-icon">
          <img alt="User" title="User" [src]="photoUser" class="small-icon">
        </div>
        <div class="desc selectable">
          Amicable Pugs.4503
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Youtube" title="Youtube" [src]="photoYoutube" class="small-icon">
        </div>
        <div class="desc">
          <span class="link" (click)="openLink('https://www.youtube.com/c/DerpyMoa')">DerpyMoa</span>
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Discord" title="Discord" [src]="photoDiscord" class="small-icon">
        </div>
        <div class="desc selectable">
          Derpy Moa#2952
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
          <img alt="Twitch" title="Twitch" [src]="photoTwitch" class="small-icon">
        </div>
        <div class="desc selectable">
            <span class="link" (click)="openLink('https://www.twitch.tv/derpy_moa')">derpy_moa</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-3" [ngStyle]="{'left.px': modalOffsetLeft5, 'top.px': modalOffsetTop5, 'background-image': 'url(' + blurUrl5 + ')'}" [@sio5]="animation5">
    <div class="modal-image">
      <img alt="Fallen" title="Fallen" [src]="photoUrl5" class="modal-rounded-image">
    </div>
    <div class="modal-title-name">
      Fallen
    </div>
    <div class="modal-links">
      <div class="single-link">
        <div class="small-icon">
            <img alt="User" title="User" [src]="photoUser" class="small-icon">
        </div>
        <div class="desc selectable">
          Blood Prince.7420
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Youtube" title="Youtube" [src]="photoYoutube" class="small-icon">
        </div>
        <div class="desc">
          <span class="link" (click)="openLink('https://www.youtube.com/channel/UCmrnQs0M60R_tOehC9W43rQ')">Fallen</span>
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Discord" title="Discord" [src]="photoDiscord" class="small-icon">
        </div>
        <div class="desc selectable">
          Fallen#3222
        </div>
      </div>
    </div>
  </div>
  <div class="modal-2" [ngStyle]="{'left.px': modalOffsetLeft6, 'top.px': modalOffsetTop6, 'background-image': 'url(' + blurUrl6 + ')'}" [@sio6]="animation6">
    <div class="modal-image">
      <img alt="Kiwi" title="Kiwi" [src]="photoUrl6" class="modal-rounded-image">
    </div>
    <div class="modal-title-name">
      Kiwi
    </div>
    <div class="modal-links">
      <div class="single-link">
        <div class="small-icon">
            <img alt="User" title="User" [src]="photoUser" class="small-icon">
        </div>
        <div class="desc selectable">
          kiwi.6348
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Youtube" title="Youtube" [src]="photoYoutube" class="small-icon">
        </div>
        <div class="desc">
          <span class="link" (click)="openLink('https://www.youtube.com/user/Ki1iwi1i/')">Ki1iwi1i</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-2" [ngStyle]="{'left.px': modalOffsetLeft7, 'top.px': modalOffsetTop7, 'background-image': 'url(' + blurUrl7 + ')'}" [@sio7]="animation7">
    <div class="modal-image">
      <img alt="Muju" title="Muju" [src]="photoUrl7" class="modal-rounded-image">
    </div>
    <div class="modal-title-name">
      Muju
    </div>
    <div class="modal-links">
      <div class="single-link">
        <div class="small-icon">
            <img alt="User" title="User" [src]="photoUser" class="small-icon">
        </div>
        <div class="desc selectable">
          Mst.1596
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Youtube" title="Youtube" [src]="photoYoutube" class="small-icon">
        </div>
        <div class="desc">
          <span class="link" (click)="openLink('https://www.youtube.com/c/Mujugw')">Muju</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-3" [ngStyle]="{'left.px': modalOffsetLeft8, 'top.px': modalOffsetTop8, 'background-image': 'url(' + blurUrl8 + ')'}" [@sio8]="animation8">
    <div class="modal-image">
      <img alt="Jeko" title="Jeko" [src]="photoUrl8" class="modal-rounded-image">
    </div>
    <div class="modal-title-name">
      Jeko
    </div>
    <div class="modal-links">
      <div class="single-link">
        <div class="small-icon">
            <img alt="User" title="User" [src]="photoUser" class="small-icon">
        </div>
        <div class="desc selectable">
          TheBrickSlayer.3817
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Youtube" title="Youtube" [src]="photoYoutube" class="small-icon">
        </div>
        <div class="desc">
          <span class="link" (click)="openLink('https://www.youtube.com/channel/UCZiWE7fs2W6QCmsJXCnavuw')">TheBrickSlayer</span>
        </div>
      </div>
      <div class="single-link margin-top">
        <div class="small-icon">
            <img alt="Discord" title="Discord" [src]="photoDiscord" class="small-icon">
        </div>
        <div class="desc selectable">
          Jeko#3533
        </div>
      </div>
    </div>
  </div>
  <!--
    END DINAMIC CONTENT
  -->
</ng-container>
