<ng-container *ngIf="isMobileView">
  Todo :c
</ng-container>
<ng-container *ngIf="!isMobileView">
  <div class="footer-web">
    <div class="cards">
      <div class="card-title">
        Leaders
      </div>
      <div class="card-list">
        <div class="card">
          ciao
        </div>
        <div class="card">
          ciao 2
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card-title">
        Officiers
      </div>
      Cards here 2
    </div>
  </div>
</ng-container>
