.footer-web {
  width: 100%;
  background-color: #2d2d2d;
  height: 200px;
  text-align: center;
  font-size: 20px;
  user-select: none;
  font-family: 'sc-font-elegant', Arial, Helvetica, sans-serif;
  font-size: .73rem;
  box-sizing: border-box;
  color: white;
}

.cards {
  padding-top: 15px;

  .card-title {
    font-size: 20px;
  }

  .card-list {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .card {
    margin-right: 10px;
    width: 110px;
    border: 1px solid #191919;
    border-radius: 15px;
    height: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #8c8c8c1f;
    }
  }

  .rounded-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .rounded-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .card-name {
    margin-left: 8px;
  }
}

.modal-3 {
  position: absolute;
  width: 180px;
  height: 177px;
  box-sizing: border-box;
  background-color: #3b4046;
  border: 1px solid black;
  border-radius: 8px;
  color: #cecece;
  user-select: none;
}

.modal-image {
  width:100%;
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  padding-top: 10px;
  background-color: #1f2124;
}

.modal-rounded-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.modal-title-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2124;
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-style: italic;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.modal-links {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 10px;

  .single-link {
    width:100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    .small-icon {
      width:  20px;
      height: 20px;
    }

    .desc {
      margin-left: 8px;
      font-size: 12px;
    }
  }

  .margin-top {
    margin-top: 10px;
  }

  .link {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: rgb(202, 202, 128);

    &:hover {
      text-decoration: underline;
    }
  }

  .selectable {
    user-select: text;
  }
}